/* @font-face {
    font-family: "Sketch 3D";
    src: url('sketch_3d.otf') format('opentype');
    
} */

@font-face{
    font-family: "Ponymaker";
    src: url('PonyMaker.ttf') format('truetype');
}

body{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    
    background: rgba(233, 161, 21, 0.61);
}

h1{
    position: absolute;
    width: 1262px;
    height: 152px;
    left: 1px;
    top: 0px;

    text-shadow: 0px 5px 7px #ED8559;

    font-family: Ponymaker;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    line-height: 0px;
    text-align: center;
    

    color: #26A2D7;

    mix-blend-mode: normal;
}

h2{
    position: absolute;
    width: 1266px;
    height: 316px;
    left: 297px;
    top: 142px;

    font-family: 'RUNNING ON EMPTY';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 68px;
    letter-spacing: 0.04em;
    text-indent: 1px;

    color: #000000;

    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.27);

}

h3{
    position: absolute;
    width: 1416px;
    height: 106px;
    left: 297px;
    top: 465px;

    font-family: KidDos Font;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 53px;

    color: #26A2D7;


}
h4{
    position: absolute;
    width: 628px;
    height: 157px;
    left: -173px;
    top: 464px;

    font-family: FunSized;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 68px;
    text-align: center;

    color: #26A2D7;

    text-shadow: 4px 5px 0px #ED8559;

}
h5{
    position: absolute;
    width: 2008px;
    height: 469px;
    left: 11px;
    top: 928px;

    font-family: 'Schooldays';
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 114px;

    color: #000000;
}
#Me{
    position: absolute;/*1,528*/
    width: 270px;
    height: 458,4px;
    left: 10px;
    top: 180px;

    background: url(IMG_4952.jpg);
    mix-blend-mode: normal;
    box-shadow: -20px 21px 28px rgba(0, 0, 0, 0.36);
}
#instagram{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1220px;
    top: 190px;

    background: url(instagram.png);
}

#vsco{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1199px;
    top: 240px;
    
    background: url(vsco.png);
}

#flickr{/*1,923*/
    position: absolute;
    width: 70px;
    height: 134,6px;
    left: 1205px;
    top: 330px;
    
    background: url(flickr.png);
}


